body {
    //background-color: #CCDDFF;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#78aae4+15,88bdec+68,beddf4+100 */
    background: #000011; /* Old browsers */
    background: -moz-linear-gradient(top, #000011 15%, #000022 68%, #000055 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,#000011), color-stop(68%,#000022), color-stop(100%,#000055)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #000011 15%,#000022 68%,#000055 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #000011 15%,#000022 68%,#000055 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000011 15%,#000022 68%,#000055 100%); /* IE10+ */
    background: linear-gradient(to bottom, #000011 15%,#000022 68%,#000055 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000011', endColorstr='#000055',GradientType=0 ); /* IE6-9 */
    
}

.demo-blog .mdl-card__supporting-text {

  background-color:#001122;

}